---
layout: false
permalink: /feed.xml
eleventyExcludeFromCollections: true
templateEngineOverride: njk
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}"/>
  {%- if collections.postsListed.length > 0 %}
  <updated>{{ collections.postsListed[0].data.date | postUpdatedAt(collections.postsListed[0].data.updated) | dateToPacificRfc822 }}</updated>
  {%- endif %}
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.title }}</name>
  </author>
  {%- for post in collections.postsListed %}
  <entry>
    <title>{{ post.data.title | escape }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <updated>{{ post.data.date | postUpdatedAt(post.data.updated) | dateToPacificRfc822 }}</updated>
    <id>{{ site.url }}{{ post.url }}</id>
    <content type="html">
      <![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(site.url) }}]]>
    </content>
    {%- if post.data.description %}
    <summary>{{ post.data.description | escape }}</summary>
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>
