---
layout: false
permalink: /feed.xml
eleventyExcludeFromCollections: true
templateEngineOverride: njk
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}"/>
  {%- set feedItems = collections.postsListed | combinedFeed(substack) %}
  {%- if feedItems.length > 0 %}
    {%- set newest = feedItems[0] %}
    {%- if newest.type == "post" %}
  <updated>{{ newest.post.data.date | postUpdatedAt(newest.post.data.updated) | dateToPacificRfc822 }}</updated>
    {%- else %}
  <updated>{{ newest.date | dateToPacificRfc822 }}</updated>
    {%- endif %}
  {%- endif %}
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.title }}</name>
  </author>
  {%- for item in feedItems %}
  <entry>
    <title>{{ item.title | escape }}</title>
    {%- if item.type == "post" %}
    <link href="{{ site.url }}{{ item.url }}"/>
    <updated>{{ item.post.data.date | postUpdatedAt(item.post.data.updated) | dateToPacificRfc822 }}</updated>
    <id>{{ site.url }}{{ item.url }}</id>
    <content type="html">
      <![CDATA[{{ item.post.templateContent | htmlToAbsoluteUrls(site.url) }}]]>
    </content>
    {%- else %}
    <link href="{{ item.url }}"/>
    <updated>{{ item.date | dateToPacificRfc822 }}</updated>
    <id>{{ item.url }}</id>
    <category term="substack"/>
    <content type="html">
      <![CDATA[<p>{{ item.description | escape }}</p><p><a href="{{ item.url }}">Read on Substack &rarr;</a></p>]]>
    </content>
    {%- endif %}
    {%- if item.description %}
    <summary>{{ item.description | escape }}</summary>
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>
