{%- set giscus = site.giscus -%}
{%- set giscusMapping = giscus.mapping or 'pathname' -%}
<script src="https://giscus.app/client.js"
        data-repo="{{ giscus.repo }}"
        data-repo-id="{{ giscus.repoId }}"
        data-category="{{ giscus.category }}"
        data-category-id="{{ giscus.categoryId }}"
        data-mapping="{{ giscusMapping }}"
        {%- if giscusMapping in ['specific', 'number'] %}
        data-term="{{ giscus.term or translation_key or page.fileSlug }}"
        {%- endif %}
        data-strict="{{ giscus.strict or '0' }}"
        data-reactions-enabled="{{ giscus.reactionsEnabled or '1' }}"
        data-emit-metadata="{{ giscus.emitMetadata or '0' }}"
        data-input-position="{{ giscus.inputPosition or 'bottom' }}"
        data-theme="{{ giscus.theme or 'preferred_color_scheme' }}"
        data-lang="{{ giscus.lang or 'en' }}"
        data-loading="{{ giscus.loading or 'lazy' }}"
        crossorigin="anonymous"
        async></script>
